<%-include("partials/header");-%>

    <h1><%=title%></h1>
    <p><%=content%></p>
   <%postarray.forEach(function (post) {%>
       <h1 style="color: #1abc9c;"><%=post.title%></h1>
       <p>
           <%=post.content.substring(0,100)+"..."%>
           <a href="/post/<%=post.title%>">read more</a>
    
    
        </p>
       
     
       
    <%}) %>

<%-include("partials/footer");-%>